<!DOCTYPE html>
<html th:fragment="layout (content)" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>왘쇼핑몰</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div class="container">
    <header>
        <div class="header-title">
            <h1>왘<sub>쇼핑몰</sub></h1>
        </div>
        <div class="my-data">
            <img class="my-image" src="/images/bag-icon.png" />
            <img class="my-image" src="/images/my-icon.png" />
        </div>
    </header>

    <nav>
        <ul class="category-group">
            <li>
                <a href="/items/sort/book">도서</a>
            </li>
        </ul>
    </nav>

    <div class="main-image">
        <img src="/images/main-image.jpg" alt="">
    </div>

    <section th:replace="${content}"></section>

    <footer>
        <div>(주)왁쇼핑몰</div>
        <div>이메일 : wakShopping@123k456.com</div>
        <div>주소 : 서울특별시 은하구 안드로메다</div>
    </footer>
</div>

</body>
</html>