header {
    text-align: center;
    white-space: nowrap;
}

.header-title {
    display: inline-block;
    margin-right: 300px;
}
.header-title h1 {
    margin: 0;
    font-size: 60px;
}
.header-title a {
    text-decoration: none;
    color: black;
}
.header-title sub {
    margin: 0;
    font-size: 35px;
}

.my-data {
    display: inline-block;
    margin: 10px 0 0 500px;
}
.my-image {
    margin-right: 15px;
    width: 45px;
    height: 45px;
}

.login-buttons {
    margin-left: 900px;
}
.login-buttons button a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.login-buttons button {
    background-color: white;
    font-weight: 800;
    font-size: 18px;
    border-radius: 10px;
    width: 100px;
}
.logout-button {
    margin-left: 65px;
}

.item-view-format {
    padding-top: 15px;
    text-align: center;
    white-space: nowrap;
}
.divide-item {
    margin-right: 1120px;
    font-size: 14px;
    color: rgb(131, 131, 131);
}

.item-detail-main{
    text-align: center;
}
.item-detail-image {
    display: inline-block;
    transform: translateX(-80%);
    margin-top: 10px;
}
.item-detail-image img {
    width: 400px;
    height: 350px;
    border-radius: 5px;
    border: 1px solid rgb(194, 190, 190);
    box-shadow: 3px 3px rgb(194, 190, 190);
}
.item-detail-box {
    display: inline-block;
    position: absolute;
}
.item-detail-comment {
    text-align: left;
    width: 350px;
}
.item-detail-comment h2 {
    height: 80px;
    overflow: auto;
}
.item-detail-common {
    list-style-type: none;
}
.item-detail-common li {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
}
.item-detail-bag {
    width: 350px;
    height: 50px;
    margin-top: 15px;
    background-color: rgb(241, 143, 143);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
}
.item-detail-buy {
    width: 350px;
    height: 50px;
    margin-top: 15px;
    background-color: rgb(108, 108, 244);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
}
.item-detail-information {
    margin: 10px auto 0 auto;
    width: 1130px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
}
.item-detail-user-comment {
    margin: 10px auto 0 auto;
    width: 1130px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
}