<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::header}, ~{::section})}" lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
    <header>
        <div class="header-title">
            <h1><a href="/">왘<sub>쇼핑몰</sub></a></h1>
        </div>
        <div class="my-data">
            <a href="/mybag"><img class="my-image" src="/images/bag-icon.png" /></a>
            <img class="my-image" src="/images/my-icon.png" />
        </div>
        <div class="login-buttons">
            <button type="submit" class="logout-button" onclick="location.href='/members/logout'">
                로그아웃
            </button>
        </div>
    </header>

    <section class="item-group">
        <div class="item-title recent-item-title">
            신규 상품
        </div>
        <div class="group-items">
            <ul>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-my-bag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-my-bag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-my-bag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-my-bag">장바구니</button></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

</body>
</html>