<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::header}, ~{::section})}" lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
    <header>
        <div class="header-title">
            <h1><a href="/">왘<sub>쇼핑몰</sub></a></h1>
        </div>
        <div class="my-data">
            <img class="my-image" src="/images/bag-icon.png" />
            <img class="my-image" src="/images/my-icon.png" />
        </div>
        <div class="login-buttons">
            <button class="logout-button">
                <a href="/members/logout">로그아웃</a>
            </button>
        </div>
    </header>


    <section class="item-group popular-item-group">
        <div class="item-title popular-item-title">
            인기 판매 순위
        </div>
        <div class="group-items popular-items">
            <ul>
                <li>
                    <div class="group-item popular-item">
                        <a href="#">
                            <img class="item-image popular-item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item popular-item">
                        <a href="#">
                            <img class="item-image popular-item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item popular-item">
                        <a href="#">
                            <img class="item-image popular-item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item popular-item">
                        <a href="#">
                            <img class="item-image popular-item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="item-group">
        <div class="item-title">
            특별 할인
        </div>
        <div class="group-items">
            <ul>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="item-group">
        <div class="item-title">
            신규 상품
        </div>
        <div class="group-items">
            <ul>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group-item">
                        <a href="#">
                            <img class="item-image" src="images/img1.jpg" />
                        </a>
                        <div>
                            아이템 설명
                        </div>
                        <div>
                            <a href="#"><button class="btn-buy">구매하기</button></a>
                            <a href="#"><button class="btn-mybag">장바구니</button></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

</body>
</html>